<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RadDotNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RadDotNet.Properties.Settings>
            <setting name="ApplicationTitle" serializeAs="String">
                <value>RadSuite.NET</value>
            </setting>
            <setting name="OpenFileFilter" serializeAs="String">
                <value>Rad Project (*.rad)|*.rad|All Data Sources (*.accdb;*.mdb)|*.accdb;*.mdb</value>
            </setting>
            <setting name="SaveAsFileFilter" serializeAs="String">
                <value>Rad Project (*.rad)|*.rad|Excel Workbook (*.xlsx)|*.xlsx|Excel 97-2003 Workbook (*.xls)|*.xls|CSV (Comma delimited) (*.csv)|*.csv|Text (Tab delimited) (*.txt)|*.txt|Text (Pipe delimited) (*.txt)|*.txt|All Files (*.*)|*.*</value>
            </setting>
            <setting name="ImportFileFilter" serializeAs="String">
                <value>All Files (*.*)|*.*|Text Files (*.txt;*.csv)|*.txt;*.csv|Excel Workbooks (*.xlsx;*.xls)|*.xlsx;*.xls|Access Databases (*.accdb;*.mdb)|*.accdb;*.mdb</value>
            </setting>
        </RadDotNet.Properties.Settings>
    </applicationSettings>
</configuration>